$w: 'w-';
$h: 'h-';

$sizes: 10, 20, 30, 40, 50, 60, 70, 75, 90, 100, 150, 200, 250, 300, 350, 400, 450, 500;

@each $size in $sizes {
  .#{$h}#{$size}-px {
    height: #{$size}px;
  }
  .#{$w}#{$size}-px {
    width: #{$size}px;
  }
}

.h-min-content {
  height: min-content;
}

@for $i from 1 through 100 {
  .w-#{$i} {
    width: percentage($i) / 100;
  }
  .h-#{$i} {
    height: percentage($i) / 100;
  }
  .#{$w}#{$i}-vw {
    width: #{$i}vw;
  }
  .#{$h}#{$i}-vh {
    height: #{$i}vh;
  }

  .min-#{$w}#{$i}-vw {
    min-width: #{$i}vw;
  }
  .min-#{$h}#{$i}-vh {
    min-height: #{$i}vh;
  }

  .max-#{$w}#{$i}-vw {
    max-width: #{$i}vw;
  }
  .max-#{$h}#{$i}-vh {
    max-height: #{$i}vh;
  }
}
