@for $i from 1 through 30 {
    .ms-#{$i}{
     margin-left: #{$i}rem;
    }
    .mt-#{$i}{
        margin-top: #{$i}rem;
    }
    .mr-#{$i}{
        margin-right: #{$i}rem;
    }
    .mb-#{$i}{
        margin-bottom: #{$i}rem;
    }
    .m-#{$i}{
        margin: #{$i}rem;
    }

    .ps-#{$i}{
        padding-left: #{$i}rem;
    }
    .pt-#{$i}{
        padding-top: #{$i}rem;
    }
    .pr-#{$i}{
        padding-right: #{$i}rem;
    }
    .pb-#{$i}{
        padding-bottom: #{$i}rem;
    }
    .p-#{$i}{
        padding: #{$i}rem;
    }
}

@for $i from 1 through 10 {
    .lts-#{$i}{
        letter-spacing: #{$i / 10}rem;
    }
}

.m-0{
    margin: 0px !important;
}
.p-0{
    padding: 0px !important;
}