@import '../bootstrap';
#MessageWrapper{
    bottom: 70px;
    right: 30px;
    transition: 1s all;
}
.msg-tag{
    height: 90px;
    width: 7px;
    margin-right: 10px;
}
.message {
    border: 1px solid darken(map-get($theme-colors, 'neutral'),20%) !important;
    transition: opacity 0.3s ease, transform 0.3s ease, height 0.3s ease, margin 0.3s ease;
    opacity: 1;
}
.message.exit {
    opacity: 0;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}
@keyframes fade-in-right{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.fade-in-right{
    animation: fade-in-right forwards 1s;
}

@keyframes fade-in-left{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.fade-in-left{
    animation: fade-in-left forwards 1s;
}
