$s: 0.3;
.preloader {
  text-align: center;
  @for $i from 1 through 6 {
    .spinner-grow:nth-child(#{$i}) {
      margin: 10px;
      animation-delay: #{$s * $i}s;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(00px);
  }
}
@keyframes fade-in-half {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(00px);
  }
}
@keyframes fade-in-nodir {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-half {
  animation: fade-in-half 0.5s ease-in-out !important;
}
.fade-in {
  animation: fade-in 0.5s ease-in-out !important;
}
.fade-in-nodir {
  animation: fade-in-nodir 0.5s ease-in-out !important;
}
