.scroll-label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;

  .scrollable {
    white-space: nowrap;
    max-width: none;
  }

  &:hover .scrollable {
    animation: scroll 5s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
}
